.slider-image {
    max-width: 100%;
    width: 100;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    display: block;
    margin: auto;
}

.slide-background{
  background-size: cover;
  background-position: center;
  padding:55px 60px 0px; /* 你可以根据需要调整填充 */
  display: flex;
  justify-content: center;
  align-items: center;

 }
.splide__pagination{
  bottom: -2rem;
}
 .splide__arrow{
  background-color: #fbc531;
 }
 .splide__pagination__page.is-active{
  background-color: #fbc531;
 }
